<h1>Question Show</h1>
<p><%= @question.title %></p>
<p><%= @question.option0 %></p>
<p><%= @question.option1 %></p>
<p><%= @question.option2 %></p>
<p><%= @question.option3 %></p>
<p><%= @question.correct_answer %></p>
<%= link_to 'Edit', edit_question_path %>