<h1 class="mx-2 text-center">Quizzes</h1>
<div class="container">  
  <div class="row justify-content-md-center" id="quiz-index">
  
    <% @valid_quizzes.each do |q| %>
      <div class="col-lg-4 col-sm-12 col-md-6" id="<%= q.id %>">
        <div class="card m-2 container-fluid p-0 card-shadow">
          <div class="card-header bg-<%= add_card_type_class(q.id) %>-dark" >
            <h5 class="card-title"><%= link_to q.title.slice(0, 50), quiz_path(q) , :class=>"text-light"%></h5>
          </div>
          <div class="card-body bg-<%= add_card_type_class(q.id) %>-light">          
            <p class="card-text"><%= q.description.slice(0, 100)%>...</p> 
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

