<h1 class="mx-2"><%= @quiz.title %></h1>

<p class="mx-2"><%= @quiz.description %></p>
<p class="mx-2">Created by: <%= @quiz.user&.first_name %></p>

<% if can? :crud, @quiz %>
  <div class="mx-2">
    <%= link_to('Edit', edit_quiz_path(@quiz), class: "btn btn-outline-primary")%>
    <%= link_to('Delete', quiz_path(@quiz), method: :delete, class: "btn btn-outline-primary") %>
  </div>
  <br>
<% end %>

<div class="mx-2">
  <form action="/quizzes/<%= @quiz.id %>/results" method="POST">
    <% @quiz.questions.each do |q| %>
      <p><strong><%= q.question %></strong></p>
      
        <div class="form-group" id='answer-options'>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">          
          <input type="radio" name='<%= q.id %>' value=0 required><label for="<%= q.option0 %>"><%= q.option0 %></label>
          <input type="radio" name='<%= q.id %>' value=1><label for="<%= q.option1 %>"><%= q.option1 %></label>
          <input type="radio" name='<%= q.id %>' value=2'><label for="<%= q.option2 %>"><%= q.option2 %></label>
          <input type="radio" name='<%= q.id %>' value=3'><label for="<%= q.option3 %>"><%= q.option3 %></label>
        </div>

      <% if can? :crud, @quiz %>
        <div class="mb-2">
          <%= link_to('Edit', edit_quiz_question_path(@quiz, q), class: "btn btn-outline-primary")%>
          <%= link_to('Delete', quiz_question_path(@quiz, q), method: :delete, class: "btn btn-outline-primary") %>
        </div>
      <% end %>
      
    <% end %>
    <% if can? :take, @quiz %>
<<<<<<< HEAD
      <% if @quiz.questions.length > 0 %>
        <input type="submit" value='Submit Answers' class='btn btn-primary'>
      <% end %>
=======
      <div class="mb-2">
        <input type="submit" value='Submit Answers' class='btn btn-primary'>
      </div>
>>>>>>> origin/integration
    <% end %>
  </form>
</div>

<% if can? :crud, @quiz %>
  <div class='mx-2'>
    <%= link_to 'Add Questions', new_quiz_question_path(@quiz.id), class: 'btn btn-primary' %>
  </div>
<% end %>
