<h1 class="mx-2"><%= @quiz.title %></h1>

<p class="mx-2"><%= @quiz.description %></p>
<p class="mx-2">Created by: <%= @quiz.user&.first_name %></p>

<% if can? :crud, @quiz %>
  <div class="mx-2">
    <%= link_to('Edit', edit_quiz_path(@quiz), class: "btn btn-outline-primary")%>
    <%= link_to('Delete', quiz_path(@quiz), method: :delete, class: "btn btn-outline-primary") %>
  </div>
  <br>
<% end %>

<div class="mx-2">
<<<<<<< HEAD
  <%= form_for :q do |form| %>
    <% @quiz.questions.each do |q| %>
      <p><strong><%= q.question %></strong></p>
      <% if can? :crud, @quiz %>
        <%= link_to('Edit', edit_quiz_question_path(@quiz, q), class: "btn btn-outline-primary")%>
        <%= link_to('Delete', quiz_question_path(@quiz, q), method: :delete, class: "btn btn-outline-primary") %>
      <% end %>
        <div class="form-group" id='answer-options'>
          <%= form.radio_button :option0, 0, class: "form-control" %> A: <%= q.option0 %>
          <%= form.radio_button :option1, 1, class: "form-control" %> B: <%= q.option1 %>
          <%= form.radio_button :option2, 2, class: "form-control" %> C: <%= q.option2 %>
          <%= form.radio_button :option3, 3, class: "form-control" %> D: <%= q.option3 %>
        </div>
    <% end %>
    <% if can? :take, @quiz %>
      <%= form.submit "Submit Answers", class: 'btn btn-primary'%>
    <% end %>
  <% end %>
</div>

<% if can? :crud, @quiz %>
  <div class='mx-2'>
    <%= link_to 'Add Questions', new_quiz_question_path(@quiz.id), class: 'btn btn-primary' %>
  </div>
<% end %>
=======
  <% @quiz.questions.each do |q| %>
    <h4><%= q.question %></h4>
  <% end %>
</div>

<%= link_to 'Add Questions', new_quiz_question_path(@quiz.id) %>
>>>>>>> origin/integration
