<div class="card shadow">
    <div class="card-body">
        <h1 class="card-tite">Result</h1>
        <p class="card-text">Your Result: <%= @result.score %>/<%= @max_score %></p>
        <p class="card-text"><%= ((@result.score.to_f/@max_score.to_f) * 100).round(2) %>%</p>
        <p class="card-text">Points Earned: <%=@result.score%></p>
        <p class="card-text">Total Points: <%=@leaderboard_score%></p>
        <%= link_to 'Finished!', quizzes_path, class: 'btn btn-primary' %>
    </div>
</div>